.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-img-top{
  height: 12rem;
  object-fit: cover;
}
.card{
  height: 30rem;

}
.card-body{
  height: 18rem;
  overflow: hidden;
}
.card-title{
  height: 5rem;
  overflow: hidden;
}
.card-text{
  height: 7.5rem;
  overflow: hidden;
}   