body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#navbarNav{
  border-radius: 5px;
  background-color: #0d6efdb8;
}
.nav-link {
  font-weight: bold;
}
.login{
  font-weight: bold;
  margin-right: 0px;
}
.navbar-brand {
  margin-right: 0 !important;
}
.me-3{
  color: white !important;
}